
.booksImg{
    width: 100%;
    margin: 2rem 0;
}
/*Centralizando no centro*/
.bookContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textBook{
    font-size: 22px;
    width: 100%
}
.inputContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom:2rem; 
}
/*Crescer o maximo possivel*/
.inputBox{
    flex-grow:1;
    margin-right: .5rem;
    width: 100%;
}
.buttonBooks{
    width: 100%;
}   
.buttonBooks[disabled]{
    background-color: #87b6bd;
    box-shadow: none;
}