.clients{
    padding: 1.5rem 0;
}
.titleClient{
    font-size: 34px;
    margin-bottom: 1rem;
}
.logosClients{
    display: flex;
    justify-content: center;
}
/*Definindo os tamanho de acordo com a proporção das imagens*/
.betaImg{
    width: 30%;
    margin-left:1rem
}
.vprImg,.mhfImg{
    width: 20%
}
.vprImg{
    margin-right:1rem
}