.contactText{
    text-align: center;
    padding: .25rem;
    font-size: 24px;
    font-weight: 500;
}

.titleContact{
    padding-top:3rem; 
    margin-bottom: 1.25rem;
}

.contactBox{
    display: flex;
    padding-top:2rem; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.formBox{
    width: 100%;
    margin-bottom: 1.5rem
}
.mapBox{
    width: 100%;
    margin-bottom: 1.5rem
}
.marginForm{
    margin-bottom: 1rem
}
.textArea{
    height:250px;
    resize: none;
    overflow: auto;
    margin: 0;
    margin-bottom: 1.5rem;
    font-family: inherit;
}
.buttonForm{
    width: 100%;
}
.buttonForm[disabled]{
    background-color: #87b6bd;
    box-shadow: none;
}
.map{
    width: 100%;
    height:300px;
}