$padding: 15px;
$white:#f7f7f7;
$blue:#012945;

.bg{
    background-color: $blue;
}
.py-5{
    padding-top:3rem;
    padding-bottom:3rem;
}
.pt-5{
    padding-top:3rem;
}
.pb-5{
    padding-bottom:3rem;
}
.title{
    font-size: 56px;
    font-weight: 700;
    text-align: center;  
}
.white{
    color:$white
}
.blue{
    color:$blue
}
.text{
    text-align: center;  
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor: pointer;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.btn:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.btn:active{
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}
.btn:focus {
    box-shadow: 0 0 0 .2rem rgba(23,162,184,.5);
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline:none;
}
