.footerBg{
    background-color: #001a2c
}
.footerBox{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contactsBox{
    width: 100%;
    padding:1rem;
    display:flex;
    flex-direction: column;
}
.contactsFooter{
    display:flex;
    align-items: center;
    margin:.25rem 0;
}
.logoFooterBox{
    padding:1rem;
    width: 100%;
}
.iconCont{
  width: 25px; 
  height: 25px; 
  margin-right:.5rem;
}
.textSocial{
    margin: .5rem 0;
}
.whiteLogo{
    width: 100%;
}
