
@import 'default';
@import 'navBar';
@import 'imgLogo';
@import 'books';
@import 'services';
@import 'clients';
@import 'contact';
@import 'footer';
@import 'toastr';

.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.home{
    padding-top:58px; 
}

@media (min-width:576px){
    .container {
        max-width: 540px;
    }
    .textBook{
        width: 50%
    }
    .contatosBox{
        width: 50%;
    }
    .logoFooterBox{
        width: 50%;
    }
    
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .servicesCard{
        width: 50%;
    }
    .logosClients{
        height: 200px;
    }
    .formBox{
        width: calc(50% - 24px);
    }
    .mapBox{
        width: calc(50% - 24px);
    }
    .map{
        height:100%;
    }
    .contactsBox{
        width: 33%;
    }
    .logoFooterBox{
        width: 33%;
    }
}
@media (min-width: 992px) {
    .collaps{
        display: none;
    }
    .navList{
        flex-direction: row;
    }
    .menu{
        display: flex;
        height: 100%;
    }
    .container {
        max-width: 960px;
    }
    .inputContainer,.booksImg{
        width: 66.666%;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .servicesCard{
        width: 33.3333%;
    }
}

body{
    width: 100%;
    font-family: 'Roboto',sans-serif;
    margin:0;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(179, 179, 179, 1) 0%,rgba(184, 184, 184, 1) 0.99%,rgba(210, 210, 210, 1) 7.62%,rgba(230, 230, 230, 1) 14.95%,rgba(244, 244, 244, 1) 23.23%,rgba(252, 252, 252, 1) 33.29%,rgba(255, 255, 255, 1) 50%,rgba(252, 252, 252, 1) 66.71%,rgba(244, 244, 244, 1) 76.77%,rgba(230, 230, 230, 1) 85.05%,rgba(210, 210, 210, 1) 92.38%,rgba(184, 184, 184, 1) 99.01%,rgba(179, 179, 179, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(179, 179, 179, 1) 0%, rgba(184, 184, 184, 1) 0.99%, rgba(210, 210, 210, 1) 7.62%, rgba(230, 230, 230, 1) 14.95%, rgba(244, 244, 244, 1) 23.23%, rgba(252, 252, 252, 1) 33.29%, rgba(255, 255, 255, 1) 50%, rgba(252, 252, 252, 1) 66.71%, rgba(244, 244, 244, 1) 76.77%, rgba(230, 230, 230, 1) 85.05%, rgba(210, 210, 210, 1) 92.38%, rgba(184, 184, 184, 1) 99.01%, rgba(179, 179, 179, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(179, 179, 179, 1) ),color-stop(0.0099,rgba(184, 184, 184, 1) ),color-stop(0.0762,rgba(210, 210, 210, 1) ),color-stop(0.1495,rgba(230, 230, 230, 1) ),color-stop(0.2323,rgba(244, 244, 244, 1) ),color-stop(0.3329,rgba(252, 252, 252, 1) ),color-stop(0.5,rgba(255, 255, 255, 1) ),color-stop(0.6671,rgba(252, 252, 252, 1) ),color-stop(0.7677,rgba(244, 244, 244, 1) ),color-stop(0.8505,rgba(230, 230, 230, 1) ),color-stop(0.9238,rgba(210, 210, 210, 1) ),color-stop(0.9901,rgba(184, 184, 184, 1) ),color-stop(1,rgba(179, 179, 179, 1) ));
    background : -o-linear-gradient(0deg, rgba(179, 179, 179, 1) 0%, rgba(184, 184, 184, 1) 0.99%, rgba(210, 210, 210, 1) 7.62%, rgba(230, 230, 230, 1) 14.95%, rgba(244, 244, 244, 1) 23.23%, rgba(252, 252, 252, 1) 33.29%, rgba(255, 255, 255, 1) 50%, rgba(252, 252, 252, 1) 66.71%, rgba(244, 244, 244, 1) 76.77%, rgba(230, 230, 230, 1) 85.05%, rgba(210, 210, 210, 1) 92.38%, rgba(184, 184, 184, 1) 99.01%, rgba(179, 179, 179, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(179, 179, 179, 1) 0%, rgba(184, 184, 184, 1) 0.99%, rgba(210, 210, 210, 1) 7.62%, rgba(230, 230, 230, 1) 14.95%, rgba(244, 244, 244, 1) 23.23%, rgba(252, 252, 252, 1) 33.29%, rgba(255, 255, 255, 1) 50%, rgba(252, 252, 252, 1) 66.71%, rgba(244, 244, 244, 1) 76.77%, rgba(230, 230, 230, 1) 85.05%, rgba(210, 210, 210, 1) 92.38%, rgba(184, 184, 184, 1) 99.01%, rgba(179, 179, 179, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#B3B3B3' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(179, 179, 179, 1) 0%, rgba(184, 184, 184, 1) 0.99%, rgba(210, 210, 210, 1) 7.62%, rgba(230, 230, 230, 1) 14.95%, rgba(244, 244, 244, 1) 23.23%, rgba(252, 252, 252, 1) 33.29%, rgba(255, 255, 255, 1) 50%, rgba(252, 252, 252, 1) 66.71%, rgba(244, 244, 244, 1) 76.77%, rgba(230, 230, 230, 1) 85.05%, rgba(210, 210, 210, 1) 92.38%, rgba(184, 184, 184, 1) 99.01%, rgba(179, 179, 179, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3',endColorstr='#B3B3B3' , GradientType=1);
}
a:link {
    text-decoration: none;
}
*, ::after, ::before {

    box-sizing: border-box;

}
h1{
    margin:0
}
p{
    margin:0
}