.navBar{
    width: 100%;
}
.navActive{
    background-color: $white;
    box-shadow: 0 3px 12px 1px rgba(0,0,0,.75);
    position: fixed;
    -webkit-animation-name: aparecer;
    animation-name: aparecer;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
.desaparecer{
    -webkit-animation-name: desaparecer;
    animation-name: desaparecer;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
@keyframes aparecer {
    from {top:-58px;}
    to {top:0px;}
  }
  @keyframes desaparecer {
    from {top:0px;}
    to {top:-58px;}
  }
.height{
    height: 0;
}
.contNav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    height:100% 
}
.logoBox{
    height: 58px;
}
.logo4{
    height: 40px;
    width: 100%;
    margin:9px 0px;
}
.menu{
    display: none;
    display: flex;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all .35s ease;
}
.active{
    
    height: 310px;
}
.navList{
    display: flex;
   
    flex-direction: column;
    margin:0;
    padding: 0;
}
.navLi{
    padding: 0px 8px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    list-style-type: none;
     margin:9px 0px; 
}
.navText {
    font-size: 26px;
    font-weight: 300;
    color: rgba(0,0,0,.5);
}
.navText:hover {
    color: rgba(0,0,0,.7);
}
.wppButton{
    background-color: #5b9e97;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 40px;
    width: 100%;
    color: $white;
}
.wppIcon{
    height: 24px;
    margin: 8px;
    margin-right: 0px;
}
.wppButtonText{
    margin: 8px;
    font-size: 16px;

}
.collaps{
    display: flex;
    width: calc(100% - 116px);
    justify-content: flex-end;
}
.buttoncollaps{
    cursor: pointer;
    -webkit-appearance: button;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}
.spanCollaps{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-image: none;
    background-size: auto auto;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}