.servicesBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.servicesCard{
    width: 100%;
    padding: 1.5rem;
 
}
.servicesBg{
    background-color: $blue; 
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 2rem;
    
}
.imgService{
    width: 50%;
}
.titleCard{
    font-size: 26px;
    margin: 0;
}
.ulCard{
    padding: 0;
    margin-left:15px; 
    align-self: flex-start;
}
.textCard{
    margin: .25rem;
}



