.toastrBox{
    position: fixed; 
    top:65px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column-reverse;
}
.toastr{
    right: 50%;
    margin: 1rem;
    padding: 1rem;
    opacity: 0;
    border-radius: 10px;
    transition: all 1s ease; 
    color:$white
}
.toastrSucess{
    background-color: #51A351;;
}
.toastrError{
    background-color: #BD362F
}
.toastrActive{
    opacity: 1;
}